.top-img {
  width: 198.07px;
  height: 59px;
}
.nav-link:hover {
  background-color: wheat;
}
.bt {
  margin-top: -5px;
}
.illu-img {
  width: 554px;
  height: 346px;
}
#c1 {
  color: orange;
}
#c2 {
  color: green;
}
.bt2 {
  margin-top: 10px;
}
.con1 {
  margin-bottom: 40px;
}
.con2 {
  margin-top: 120px;
}
.img1 {
  width: 66px;
  height: 85px;
}
.col-md-3 {
  box-shadow: 5px 5px 5px grey;
}

.txt-align {
  text-align: center;
  margin-bottom: 40px;
}
.img2 {
  width: 24px;
  height: 24px;
}
.man {
  width: 120px;
  height: 120px;
}
.border-color {
  border-left: 3px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
.con3 {
  background-color: black;
  color: white;
  padding: 70px;
}
.text-align {
  text-align: center;
  margin-bottom: 40px;
}
.text-align2 {
  text-align: center;
}
